[Unit]
Description=kaifareader
After=systemd-networkd-wait-online.service

[Service]
ExecStartPre=/bin/mkdir -p /var/run/kaifareader
ExecStartPre=/bin/mkdir -p /var/log/kaifareader
ExecStartPre=/bin/chmod 777 /var/run/kaifareader
ExecStartPre=/bin/chmod 777 /var/log/kaifareader
ExecStart=/usr/bin/python3 /usr/lib/kaifareader/kaifareader.py
StandardOutput=null

[Install]
WantedBy=multi-user.target
