Source: kaifareader
Priority: optional
Maintainer: Stefan Felkel <16918854+tirolerstefan@users.noreply.github.com>
Standards-Version: 4.5.1
Homepage: https://github.com/tirolerstefan/kaifa

Package: kaifareader
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}, python3, python3-serial, python3-pycryptodome,
         python3-paho-mqtt
Description: Read out Kaifa M309 using serial connection.
